.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/src/assets/successful-operation-11099386.png");
    background-size: cover;
    opacity: 70%;

  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  
  .login-box h2 {
    color: #2e7d32;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #388e3c;
  }
  
  .register-link {
    margin-top: 15px;
  }
  
  .register-link a {
    color: #2e7d32;
    font-weight: bold;
    text-decoration: none;
  }
  