.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/young-doctors-physicians-young-doctors-physicians-apprenticeship-meeting-116204922.png');
   background-size: cover;
  }
  
  .signup-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  
  .signup-box h2 {
    margin-bottom: 20px;
    color: #2e7d32;
  }
  
  .input-group {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signup-btn {
    width: 100%;
    background: #2e7d32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .signup-btn:hover {
    background: #1b5e20;
  }
  
  .login-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .login-link a {
    color: #2e7d32;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  